apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: database
type: Opaque
stringData:
  POSTGRES_USER: your_username_here
  POSTGRES_PASSWORD: your_password_here
  POSTGRES_DB: your_database_here
