apiVersion: v1
kind: Secret
metadata:
  name: airflow-metadata-secret
  namespace: airflow
type: Opaque
stringData:
  connection: "postgresql://USERNAME:PASSWORD@postgres.database.svc.cluster.local:5432/airflow_metadata"
  webserver-username: "your_admin_username"
  webserver-password: "your_admin_password"
