apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: database
type: Opaque
stringData:
  POSTGRES_USER: your_username
  POSTGRES_PASSWORD: your_secure_password
  POSTGRES_DB: your_database_name
